header{
    background:url(/assests/HomeBg.jpg);
    background-size: cover;
    box-shadow: 90px 90px 50px black inset;
    height: 600px;
}

.nav{
    display: flex;
    justify-content: space-around;
    
}
.right{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    gap: 15px;
   margin-right: 25px;
}
.logo{
   
    width: 200px;
    /* border: 4px solid red; */
    /* margin-left: 350px; */
}

.langauge{
    padding: 15px;
   background-color: black; 
    color: #fff;  
   
    mix-blend-mode: screen;
    font-size: large;
    

}
.signin{
    padding: 15px;
    background-color: red;
    font-size: medium;
    font-weight: 800;
    color: #fff;
    margin-right: 100px;
}
.h1{
    color: #fff;
    display: flex;
   justify-content: center;
   font-weight: 300;
   font-size: 48px;
   margin-top: 100px;
}
.h3{
    display: flex;
    justify-content: center;
    font-weight: 300;
    color: #fff;
    font-size: 24px;
    /* margin-top: 2px; */
    
}

.input{
display: flex;
justify-content: center;
gap: 10px;
/* padding-bottom: 40px; */
}
.email{

    color: #fff;
    
    font-size: 20px;
    background-color: rgb(61, 59, 59);
    margin-bottom: 40px;
   gap: 2px;
 
   border-radius: 9px;
}

.started{
    background-color:red;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 40px;
    border: 0cap;

}
.main{
    background-color: black;
    
}
 .h2{
    color: #fff;
    display: flex;
   justify-content: center;
   font-weight: 600;
   font-size: 24px;
   margin-top: 100px;
 }

 
body{
    display: flex;
    flex-direction: column;
   
} 
.section1{
    display: flex;
    justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 72px;
  margin: 0px 365px;
}
.section2{
    display: flex;
    justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 365px;



}
.section3{
    display: flex;
    justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 365px;



}
.section4{
    display: flex;
    justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 365px;

}
.hr{
    color: #fff;
    border-bottom: 3px solid #fff;
}


